 * {
    box-sizing: border-box;
  }
  *::after, *::before {
    box-sizing: border-box;
  }
  
  /* --------------------------------
   *
   *Modal Window
   *
   *-------------------------------- */
  .morph-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
  }
  .morph-modal.open-modal {
    opacity: 1;
    visibility: visible;
  }
  
  .modal-content, .close-modal {
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    z-index: 2;
  }
  
  .modal-visible .modal-content, .modal-visible .close-modal {
    opacity: 1;
  }
  
  .modal-content {
    position: relative;
    height: 100%;
    overflow: auto;
    padding: 100px 5%;
  }
  
  .close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    /* replace text with image */
    height: 56px;
    width: 56px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    border: none;
    text-indent: 100%;
    overflow: hidden;
    color: transparent;
    white-space: nowrap;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
  }
  .close-modal::before, .close-modal::after {
    /* this is the 'X' arrow */
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    width: 24px;
    background: #FFF;
  }
  .close-modal::before {
    -webkit-transform: translate(-50%) rotate(45deg);
            transform: translate(-50%) rotate(45deg);
  }
  .close-modal::after {
    -webkit-transform: translate(-50%) rotate(-45deg);
            transform: translate(-50%) rotate(-45deg);
  }
  .close-modal:hover {
    background: rgba(0, 0, 0, 0.6);
  }
  
  /* --------------------------------
   *
   *Modal Trigger and morphing background
   *
   *-------------------------------- */
  .morph-btn, .morph-background {
    display: inline-block;
    background-color: #fff;
    height: 45px;
    line-height: 45px;
    width: 170px;
  }
  
  .morph-background {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  